<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
    <title>A* Visualiser</title>
  </head>
  <body>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/position.js"></script>
    <script src="/javascripts/priorityQueue.js"></script>
    <script src="/javascripts/grid.js"></script>
    <script src="/javascripts/aStar.js"></script>
    <script src="/javascripts/controller.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>

